@model KatShop.Models.Page

@{
    ViewData["Title"] = Model.PageName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
	<!-- Start Content-->
	<div class="container-fluid">
		<!-- start page title -->
		<div class="row">
			<div class="col-12">
				<div class="page-title-box">
					<div class="page-title-right">
						<ol class="breadcrumb m-0">
							<li class="breadcrumb-item"><a asp-action="Index">Home</a></li>

							<li class="breadcrumb-item active">@ViewData["Title"]</li>
						</ol>
					</div>
					<h2 class="page-title">@ViewData["Title"]</h2>
				</div>
			</div>
		</div>
		<!-- end page title -->
		<hr />

		<div class="table-responsive ">
			<table class="table mb-0 ">
				<tbody>
					<tr>
						<td> <strong>ID </strong> :</td>
						<td>@Model.PageId</td>
					</tr>
					<tr>
						<td><strong>Tên sản phẩm </strong> :</td>
						<td>@Model.PageName</td>
					</tr>
					<tr>
						<td><strong>Thumb </strong> : </td>
						<td>@Model.Thumb</td>
					</tr>
					<tr>
						<td><strong>Title </strong> : </td>
						<td>@Model.Title</td>
					</tr>
					<tr>
						<td><strong>Alias </strong> : </td>
						<td>@Model.Alias</td>
					</tr>
					<tr>
						<td><strong>MetaDecs </strong> : </td>
						<td>@Model.MetaDesc</td>
					</tr>
					<tr>
						<td><strong>Sắp xếp </strong> : </td>
						<td>@Model.Ordering</td>
					</tr>
					<tr>
						<td><strong>Trạng thái </strong> : </td>
						<td>
							@if (Model.Published)
							{
								<div class="form-check form-check-inline">
									<input type="checkbox" class="form-check-input" id="customCheck5" checked disabled>
									<label class="form-check-label" for="customCheck5"></label>
								</div>
							}
							else
							{
								<div class="form-check form-check-inline">
									<input type="checkbox" class="form-check-input" id="customCheck6" disabled>
									<label class="form-check-label" for="customCheck6"></label>
								</div>
							}
						</td>

					</tr>
					<tr>
						<td><strong>Nội dung  </strong> : </td>
						<td>@Html.Raw(Model.Contents)</td>
					</tr>
				
				

				
				</tbody>
			</table>

			<hr />
			<a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.PageId">Chỉnh sửa</a> |
			<a class="btn btn-dark" asp-action="Index">Quay lại</a>

		</div>
	</div>
</div>


