@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<KatShop.Models.Product>
@{
	ViewData["Title"] = "Sản phẩm";
	Layout = "~/Views/Shared/_Layout.cshtml";
	List<Category> Cat = ViewBag.Cat;
	Category category = ViewBag.CurrentCat;
	int PageCurrent = ViewBag.CurrentPage;
	int PageNext = PageCurrent + 1;

}


	<div class="container single_product_container">
		<div class="row">
			<div class="col product_section clearfix">

				<!-- Breadcrumbs -->

				<div class="breadcrumbs d-flex flex-row align-items-center">
					<ul>
						<li><a asp-controller="Home" asp-action="index">Trang chủ</a></li>

						<li class="active"><a href="~/assets/#"><i class="fa fa-angle-right" aria-hidden="true"></i>@ViewData["Title"]</a></li>
					</ul>
				</div>

				<!-- Sidebar -->

				<div class="sidebar">
					<div class="sidebar_section">
						<div class="sidebar_title">
							<h5>DANH MỤC</h5>
						</div>
						<ul class="sidebar_categories text-uppercase">
						@if (Cat != null && Cat.Count() > 0)
						{
							foreach (var item in Cat)
							{
								string _url = $"/danhmuc/{item.Alias}-{item.CatId}.html";
								<li>
									<a href="danhmuc/@item.Alias">@item.CatName</a>
								</li>
							}
						}

						@*	@foreach (var item in Model)
						{
						<li class="active"><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>@item.Cat.CatName</a></li>
						}*@



					</ul>
				</div>

				<!-- Price Range Filtering -->
			@*	<div class="sidebar_section">
					<div class="sidebar_title">
						<h5>LỌC THEO GIÁ</h5>
					</div>
					<p>
						<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
					</p>
					<div id="slider-range"></div>
					<div class="filter_button"><span>Lọc</span></div>
				</div>*@





			</div>

			<!-- Main Content -->

			<div class="main_content">

				<!-- Products -->

				<div class="products_iso">
					<div class="row">
						<div class="col">

							<!-- Product Sorting -->
						
								<div id="productFilter" class="product_sorting_container product_sorting_container_top float-end">
						<ul class="product_sorting ">
							<li>
								<span class="type_sorting_text text-uppercase">Lọc sản phẩm</span>
								<i class="fa fa-angle-down"></i>
								<ul class="sorting_type text-uppercase text-black-50 ">
											<li class="type_sorting_btn"><a class="text-dark" href="#" data-sort-by="new">Mới nhất</a></li>
											<li class="type_sorting_btn"><a class="text-dark" href="#" data-sort-by="asc">Giá thấp - cao </a></li>
											<li class="type_sorting_btn"><a class="text-dark" href="#" data-sort-by="desc">Giá cao - thấp</a></li>
									
									


								</ul>
							</li>
							@*<li>
							<span>Hiển thị</span>
							<span class="num_sorting_text">6</span>
							<i class="fa fa-angle-down"></i>
							<ul class="sorting_num">
							<li class="num_sorting_btn"><span>6</span></li>
							<li class="num_sorting_btn"><span>12</span></li>
							<li class="num_sorting_btn"><span>24</span></li>
							</ul>
							</li>*@
						</ul>
						@*<div class="pages d-flex flex-row align-items-center">
						<div class="page_current">
						<span>1</span>
						<ul class="page_selection">
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						</ul>
						</div>
						<div class="page_total"><span>of</span> 3</div>
						<div id="next_page" class="page_next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
						</div>*@

					</div>
				

							<!-- Product Grid -->

							<div id="productGrid">

								@await Html.PartialAsync("_ProductGrid", Model)

							</div>

								@*@if (Model != null && Model.Count() > 0)
								{
									foreach (var item in Model)
									{

										string url = $"/{item.Alias}-{item.ProductId}.html";
										<!-- Product 2 -->
										<div class="product-item">
											<div class="product product_filter">
												<div class="product_image">
													<img src="~/images/products/@item.Thumb" alt="@item.Title">
												</div>
												<div class="favorite"></div>
												@if (item.HomeFlag)
												{
													<div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>new</span></div>
												}
												@if (item.BestSaller)
												{
													<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
												}

												<div class="product_info">
													<h6 class="product_name"><a href="@url">@item.ProductName</a></h6>
													<div class="product_price">@item.Price.Value.ToString("#,##0") VNĐ</div>
												</div>
											</div>
											<div class="red_button add_to_cart_button"><a href="@url">Xem sản phẩm</a></div>
										</div>
									}
								}*@
										
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- Benefit -->

<div class="benefit">
	<div class="container">
		<div class="row benefit_row">
			<div class="col-lg-3 benefit_col">
				<div class="benefit_item d-flex flex-row align-items-center">
					<div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
					<div class="benefit_content">
						<h6>free shipping</h6>
						<p>Suffered Alteration in Some Form</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 benefit_col">
				<div class="benefit_item d-flex flex-row align-items-center">
					<div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
					<div class="benefit_content">
						<h6>cach on delivery</h6>
						<p>The Internet Tend To Repeat</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 benefit_col">
				<div class="benefit_item d-flex flex-row align-items-center">
					<div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
					<div class="benefit_content">
						<h6>45 days return</h6>
						<p>Making it Look Like Readable</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 benefit_col">
				<div class="benefit_item d-flex flex-row align-items-center">
					<div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
					<div class="benefit_content">
						<h6>opening all week</h6>
						<p>8AM - 09PM</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts{
	<link href="~/assets/styles/categories_responsive.css" rel="stylesheet" />
	<link href="~/assets/styles/categories_styles.css" rel="stylesheet" />


	<script>
		$(document).ready(function () {
			$('#productFilter a').click(function (e) {
				e.preventDefault();
				var sortBy = $(this).data('sort-by');
				filterProducts(sortBy);
			});

			function filterProducts(sortBy) {
				$.ajax({
					url: '@Url.Action("Index", "Product")',
					type: 'GET',
					data: { sortBy: sortBy },
					success: function (result) {
						// Cập nhật kết quả lọc vào phần tử hiển thị sản phẩm						
						$('#productGrid').html(result);
					},
					error: function () {
						// Xử lý lỗi nếu cần thiết
					}
				});
			}
		});
	</script>
}