@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<KatShop.Models.Product>
@{
	Category category = ViewBag.CurrentCat;
	List<Category> Cat = ViewBag.Cat;
	ViewData["TiTle"] = category.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
	int PageCurrent = ViewBag.CurrentPage;
	int PageNext = PageCurrent + 1;

}
@section Scripts{
	<link href="~/assets/styles/categories_responsive.css" rel="stylesheet" />
	<link href="~/assets/styles/categories_styles.css" rel="stylesheet" />
}

	<div class="container single_product_container">
		<div class="row">
			<div class="col product_section clearfix">

				<!-- Breadcrumbs -->

				<div class="breadcrumbs d-flex flex-row align-items-center">
					<ul>
						<li><a asp-controller="Home" asp-action="index">Trang chủ</a></li>

						<li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>@ViewData["Title"]</a></li>
					</ul>
				</div>

				<!-- Sidebar -->

				<div class="sidebar">
					<div class="sidebar_section">
						<div class="sidebar_title">
							<h5>Danh mục</h5>
						</div>
						<ul class="sidebar_categories text-uppercase">
						@if (Cat != null && Cat.Count() > 0)
						{
							foreach (var item in Cat)
							{
								string _url = $"/danhmuc/{item.Alias}-{item.CatId}.html";





								<li class="@((item.CatId == category.CatId) ? "active" : "")">


									<a href="@item.Alias">
										@if (item.CatId == category.CatId)
										{
											<span>
												<i class="fa fa-angle-double-right" aria-hidden="true"></i>
											</span>
										}
										@item.CatName
									</a>
							
								</li>
								
									
							
							}
						}

						@*	@foreach (var item in Model)
						{
						<li class="active"><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>@item.Cat.CatName</a></li>
						}*@



					</ul>
				</div>

				<!-- Price Range Filtering -->
			@*	<div class="sidebar_section">
					<div class="sidebar_title">
						<h5>Tìm kiếm theo giá</h5>
					</div>
					<p>
						<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
					</p>
					<div id="slider-range"></div>
					<div class="filter_button"><span>Lọc</span></div>
				</div>
*@




			</div>

			<!-- Main Content -->

			<div class="main_content">

				<!-- Products -->

				<div class="products_iso">
					<div class="row">
						<div class="col">

							<!-- Product Sorting -->

						

							<!-- Product Grid -->

							<div class="product-grid">
								@if (Model != null && Model.Count() > 0)
								{
									foreach (var item in Model)
									{

										string url = $"/{item.Alias}-{item.ProductId}.html";
										<!-- Product 2 -->
										<div class="product-item women">
											<div class="product product_filter">
												<div class="product_image">
													<img src="~/images/products/@item.Thumb" alt="@item.Title">
												</div>
												<div class="favorite"></div>
												@if (item.HomeFlag)
												{
													<div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>new</span></div>
												}
												@if (item.BestSaller)
												{
													<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
												}

												<div class="product_info">
													<h6 class="product_name"><a href="@url">@item.ProductName</a></h6>
													@if (item.Discount != null)
													{
														<div class="product_price">@item.Discount.Value.ToString("#,##0")<span>@item.Price.Value.ToString("#,##0") VNĐ</span></div>
													}
													else
													{
														<div class="product_price">@item.Price.Value.ToString("#,##0") VNĐ</div>
													}
												</div>
											</div>
											<div class="red_button add_to_cart_button"><a href="@url">Xem sản phẩm</a></div>
										</div>



									}
								}



								@*		<!-- Product 4 -->
								<div class="product-item accessories">
								<div class="product product_filter">
								<div class="product_image">
								<img src="~/assets/images/product_4.png" alt="">
								</div>
								<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
								<div class="favorite favorite_left"></div>
								<div class="product_info">
								<h6 class="product_name"><a href="single.html">DYMO LabelWriter 450 Turbo Thermal Label Printer</a></h6>
								<div class="product_price">$410.00</div>
								</div>
								</div>
								<div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
								</div>*@

							</div>

							<!-- Product Sorting -->

						
							<div class="col-12 d-flex justify-content-center mt-5">
								<nav aria-label="Page navigation example">
									<ul class="pagination">

										<pager class="pager-container" list="@Model" options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly" asp-area="" asp-controller="Product" asp-route-Alias="@category.Alias" asp-action="List" />
										@*<li class="page-item">
										<a class="page-link" href="#" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
										<span class="sr-only">Previous</span>
										</a>
										</li>
										<li class="page-item"><a class="page-link" href="#">1</a></li>
										<li class="page-item"><a class="page-link" href="#">2</a></li>
										<li class="page-item"><a class="page-link" href="#">3</a></li>
										<li class="page-item">
										<a class="page-link" href="#" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
										<span class="sr-only">Next</span>
										</a>
										</li>*@
									</ul>
								</nav>
							</div>
								

							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- Benefit -->

<div class="benefit">
	<div class="container">
		<div class="row benefit_row">
			<div class="col-lg-3 benefit_col">
				<div class="benefit_item d-flex flex-row align-items-center">
					<div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
					<div class="benefit_content">
						<h6>free shipping</h6>
						<p>Suffered Alteration in Some Form</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 benefit_col">
				<div class="benefit_item d-flex flex-row align-items-center">
					<div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
					<div class="benefit_content">
						<h6>cach on delivery</h6>
						<p>The Internet Tend To Repeat</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 benefit_col">
				<div class="benefit_item d-flex flex-row align-items-center">
					<div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
					<div class="benefit_content">
						<h6>45 days return</h6>
						<p>Making it Look Like Readable</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 benefit_col">
				<div class="benefit_item d-flex flex-row align-items-center">
					<div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
					<div class="benefit_content">
						<h6>opening all week</h6>
						<p>8AM - 09PM</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>